<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">


<div class="table-responsive">
      <table class="table">
            <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Segundo Nombre</th>
                    <th>Apellido</th>
                    <th>Segundo Apellido</th>
                    <th>Grado</th>
                    <th>Telefono</th>
                    <th>Encargado</th>
                  </tr>
                </thead>
      
    </div>


{% for student in student_table %}
      <tr>
            <td>{{student.student_id}} </td>
            <td>{{student.student_name}} </td>
            <td>{{student.student_middlename}} </td>
            <td>{{student.student_lastname}} </td>
            <td>{{student.student_2ndlastname}} </td>
            <td>{{student.student_grade}} </td>
            <td>{{student.student_phone}} </td>
            <td>{{student.student_guardian}} </td>
      
      </tr>
{% endfor %}

</table>